#shopping-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 80px;
    row-gap: 50px;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: flex-end;
    margin: 80px auto 50px auto;
}

#shopping-page-title {
    width: 80%;
    margin: 40px auto 0 auto;
    text-align: center;
}

.item {
    cursor: pointer;
    width: 200px;
    margin: 20px auto;
}